/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// Define color for use
$blue: #90D8D3;
$light_black: #030303;
$dark_purple:#43163d;


// the page text color 
$body-color: $light_black;
$link-color: $dark_purple; 


// font font.
$font-family-sans-sarif: "VT323", "monospace";

